{% extends 'base.html' %}

{% block content %}

<h2>Resetear la constraseña</h2>

<h3>Ingrese un correo válido</h3>


<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Reset</button>
</form>

{% endblock content %}