{% extends 'base.html' %}

{% block content %}

<h2>Cambiar la contraseña</h2>

{% if form.errors %}
    <h3>Han ocurrido errores en el cambio contraseña, favor de revisar los datos ingresados</h3>
{% endif %}


<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Cambiar</button>
</form>

{% endblock content %}