{% extends 'base.html' %}

{% block content %}
<h1>Para resetear su contraseña</h1>

<p>
    Te va a llegar un correo con instrucciones, hacer click en el enlace.
    Si no te llega, probar de nuevo y verificar que la dirección de correo sea válida.
</p>
{% endblock content %}