{% extends 'base.html' %}
{% load static %}

{# Imágenes de <a href="https://www.flaticon.es/iconos-gratis/formato" title="formato iconos">Formato iconos creados por Yuan Design - Flaticon</a> #}

{% block content %}
<div class="container">

    <ul class="nav nav-underline bg-success justify-content-center">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'usuarios:reporte_csv' %}">
            <img src="{% static 'extension-csv.png' %}" width="64" alt="extension-csv" />
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'usuarios:reporte_xlsx' %}">
            <img src="{% static 'extension-xls.png' %}" width="64" alt="extension-xls" />
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <img src="{% static 'extension-pdf.png' %}" width="64" alt="extension-pdf" />
          </a>
        </li>
      </ul>

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Título</th>
        <th scope="col">Apellido</th>
        <th scope="col">Nombre</th>
        <th scope="col">Género</th>
        <th scope="col">Ciudad</th>
        <th scope="col">País</th>
        <th scope="col">e-mail</th>
      </tr>
    </thead>
    <tbody>
        {% for usuario in object_list %}
            <tr>
                <th scope="row">{{usuario.id}}</th>
                <td>{{usuario.titulo}}</td>
                <td>{{usuario.apellido}}</td>
                <td>{{usuario.nombre}}</td>
                <td>{{usuario.genero}}</td>
                <td>{{usuario.ciudad}}</td>
                <td>{{usuario.pais}}</td>
                <td>{{usuario.email}}</td>
            </tr>
        {% endfor %}
    </tbody>
  </table>

  <div class="container" style="text-align: center;">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; primera</a>
            <a href="?page={{ page_obj.previous_page_number }}">anterior</a>
        {% endif %}

        <span class="current">
            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">siguiente</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">última &raquo;</a>
        {% endif %}
    </span>
  </div>

</div>

{% endblock content %}