{% extends 'base.html' %}

{% block content %}
<h1>PÁGINA PRINCIPAL DE LA APLICACIÓN</h1>

{% if perms.app_clases %}
    <h3>Tiene permisos para acceder a las opciones de la App Clases</h3>

    {% if perms.app_clases.view_modelopruebaparaclases %}
        <h4>Puede Ver / Listar</h4>
    {% endif %}

    {% if perms.app_clases.add_modelopruebaparaclases %}
        <h4>Puede agregar</h4>
    {% endif %}

    {% if perms.app_clases.change_modelopruebaparaclases %}
        <h4>Puede cambiar</h4>
    {% endif %}

    {% if perms.app_clases.delete_modelopruebaparaclases %}
        <h4>Puede borrar</h4>
    {% endif %}

{% endif %}

{% if perms.app_funciones %}

    <div class="card" style="width: 18rem;">
        <div class="card-header">
            <h3>Tiene permisos para acceder a las opciones de la App Funciones</h3>
        </div>
        <ul class="list-group list-group-flush">
        <li class="list-group-item">
            {% if perms.app_funciones.view_modelopruebaparafunciones %}
                <a href="{% url 'vista_con_autenticacion' %}">Vista con Autenticacion</a>
            {% endif %}
        </li>
        <li class="list-group-item">
            {% if perms.app_funciones.add_modelopruebaparafunciones %}
            <h4>Puede agregar</h4>

            {% endif %}
        </li>

        <li class="list-group-item">
            {% if perms.app_funciones.delete_modelopruebaparafunciones %}
            <h4>Puede borrar</h4>
        {% endif %}
        </li>
        </ul>
    </div>




    

  
    






{% endif %}

{% endblock content %}